<main class="main-section">
<p style="color: green"><%= notice %></p>

<h1 class="title">Recipes</h1>
<div class="sign_out_btn">
  <button>
    <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
  </button>
</div>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <div class="recipe-block">
     <div><%= recipe.name %></div>
      <div><%= recipe.description %></div>
      
    </div>
  <% end %>
 

</div>

<%= link_to "New recipe", new_recipe_path %>

</main>
