<main class="main-section">
<p style="color: green"><%= notice %></p>
<%= render @recipe %>
<h2 class=""title><%= @recipe.name %></h2>

<div class="recipe-details">
<ul>
<li>Preparation time: <%= @recipe.preparation_time %></li>
<li>Cooking time:  <%= @recipe.cooking_time %></li>
<li><p class="show-steps">Steps goes here...</li>
</ul>


<div class="public-btn-block">
<p class="recipe-show-publcT">Public</p>

<% if current_user.id == @recipe.user.id %> 
<%= button_to recipe_path(@recipe.id), :method => :patch, class: "public-btn" do %>
  <% if @recipe.public %>
    <i class="fa fa-toggle-on" style="font-size:48px;color:green"></i>
  <% else %>
    <i class="fa fa-toggle-off" style="font-size:48px;color:green"></i>
  <% end %>
<% end %>
<% end %>
</div>

</div>

<div class="d-flex justify-content-between">

<% if current_user.id == @recipe.user.id %> 
<button class='shopping-list-btn'>
<%='Generate shooping list '%>
</button> 
<button class='add-ingre-btn'>
<%= 'Add ingredient' %>
</button> 
<% end %>
</div>

<div>
  <%= link_to "Back to recipes", recipes_path %>
</div>
</main>
